body {
    box-sizing: border-box;
    font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}

.container {
    /* position: relative; */
}

.row1_wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 300px;
    margin-right: 200px;
}

.row1 {
    position: relative;
    height: 646px;
    background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/Summer1_ph2_main_bg_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.slogan {
    position: relative;
    top: 50px;
    left: 26px;
    width: 593px;
    height: 43px;
    background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_ph2_main_title.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu_set {
    display: inline-flex;
}

.st_menu {
    position: relative;
    left: 65px;
    top: 141px;
    width: 564px;
    height: 326px;
    background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_ph2_main_strawberryacailemonade_02.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ps_menu {
    position: relative;
    left: 120px;
    top: 46px;
    width: 267px;
    height: 423px;
    background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_ph2_main_purplesourblended.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.mf_menu {
    position: relative;
    left: 80px;
    top: 176px;
    width: 381px;
    height: 351px;
    background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_ph2_main_coffeedrawingmalcha.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn_menu {
    position: relative;
    left: 8px;
    top: 74px;
    width: 130px;
    height: 38px;
    border: 2px solid rgb(28, 56, 49);
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    line-height: 32px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: rgb(28, 56, 49);
}

.btn_menu:hover {
    cursor: pointer;
    background-color: rgb(28, 56, 49);
    color: white;
    text-decoration: underline;
}

/*영은님*/
.header> .wrap12{
    height: 130px;
    background-color: rgb(255, 254, 239);

   }

.icon{position:absolute; width: 1200px;
    height: 120px;
    background-image: url("https://www.starbucks.co.kr/common/img/common/logo.png");
    background-repeat: no-repeat;
    margin: 30px;
    Background-position: 100px 5px;
   }



   #f2:hover{
   cursor: pointer;
   }





.font2{position:absolute;
     height: 0px;
     display:flex;
     width: 500px;
     padding: 30px;
     font-size:12px;
     align-items: center;
     justify-content: space-around;
     margin-left: 800px;
   }
/* 
.img{ display: flex;
     padding: 15px;
     flex-direction:inherit;} */




/* .container{display: flex; 
   flex-direction: row;
   justify-content: space-evenly;
} */


.font{position:absolute;
     height: 66px;
     width: 750px;
     display:flex;
     padding: 50px;
     padding-top: 55px;
     font-size:14px;
     justify-content: space-around;
     margin-left: 630px;
   }


.wrap12 .font div {
  text-align: center;
  line-height: 80px;
   color:black;
   width: 200x;
   height: 80px;

}

.wrap12 .font div:hover {
   background-color: rgb(46, 43, 43);
     /* padding: 18px;
     padding-bottom: 30px; */
     cursor: pointer;
     text-decoration: underline;
     color: rgb(76, 151, 76);

}

/*다영님*/
/* 페루 춘키 블론드 로스트 */
.peru-background{
    width: 100%;
    height: 573px;
    background-color: #dbebf8;
    background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/Summer1_ph2_bean_bg_02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .peru-background > section {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
  }
  .peru__text {
    position:absolute;
    top: 176px;
    margin-left: 480px;
    width: 700px;
    height: 153px;
    font-size: 16.5px;
    color: rgb(53, 84, 48);
    line-height: 25px;
  }
  .peru-background img{
    float: left;
    margin-left: 200px;
    margin-top: 70px;
  }
  .peru-background .tiger{
    position: relative;
    width: 300px;
    height: 290px;
    float: left;
    margin-left: -680px;
    margin-top: 360px;
    overflow: hidden;
  }
  .peru-background .bird{
    position: absolute;
    width: 380px;
    height: 300px;
    float: right;
    margin-right: -680px;
    margin-top: 360px;
    overflow: hidden;
  }
  .peru__text dt {
    margin-bottom: 10px;
    font-weight: 350;
    color: rgb(53, 84, 48);
  } 
  .peru__text span{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
  }
  .peru__more-btn{
    position: absolute;
    margin-top: 32%;
    margin-left: -5%;
    border: 2px solid rgb(36, 62, 32);
    border-color: rgb(36, 62, 32);
    color: rgb(53, 84, 48);
    background-color: rgb(#FFCE12); 
    border-radius: 5px;
    padding: 10px;
  }
  .peru__more-btn:hover, .peru__more-btn:focus{
    text-decoration: underline;
    color: white;
    background-color: rgb(49, 73, 65);
  }

/*지현님*/
.wrap {
    background-image: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg);
    background-repeat: no-repeat;
    background-position: center fixed #45434c;
    background-size: auto 100%;
    height: 800px;
    padding: 0;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-attachment: fixed;
}

/* 설명 큰 글씨 */
.txt1 {
    background-image: url(https://www.starbucks.co.kr/common/img/main/fav_prod_txt01.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 250px;
    left: 200px;
    top: 120px;
}

/* 설명 작은글씨 */
.txt2 {
    background-image: url(https://www.starbucks.co.kr/common/img/main/fav_prod_txt02.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 360px;
    left: 90px;
    top: 370px;
    overflow: hidden;
}

/* 왼쪽에서 오른쪽으로 이동효과 */
.txt2:active {
    transform: translateX(100px, 0);
}

/* 사진 3개 */
.txt3 {
    background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_ph2_pick_img.png");
    width: 650px;
    height: 450px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 100%;
    vertical-align: baseline;
}